@font-face {
    font-family: regularText;
    src: url('fonts/AlegreyaSansSC-Regular.ttf');
}

@font-face {
    font-family: boldText;
    src: url('fonts/AlegreyaSansSC-Bold.ttf');
}

@font-face {
    font-family: lightText;
    src: url('fonts/AlegreyaSansSC-Light.ttf');
}

@font-face {
    font-family: mediumText;
    src: url('fonts/AlegreyaSansSC-Medium.ttf');
}

@font-face {
    font-family: writingText;
    src: url('fonts/SEGOEUIL.ttf');
}

/*for the smallest phones*/
@media (max-width:767px){
	
}

/*for the tablets and all*/
@media (min-width:768px){
	
}

/*for medium screens and desktops*/
@media (min-width:992px){
    
}

/*for large screens*/
@media (min-width:1200px){
	
}

.display-pic {
	display: block;
	border-radius: 50%;

}

footer {
    text-align: left;
}

.load-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    overflow-y: hidden;
}

#loading-bar-spinner,#loading-bar .bar { 
    position: fixed;
    z-index: 9999;
}

.content-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-padding {
	padding-top: 3%;
}

.header-span {
    font-size: 0.8em;
}

.profile-link {
    margin-bottom: 1%;
}

.show-class {
    display: inline-block;
}

.hide-class {
    display: none;
}

.top-menu-padding {
	padding-bottom: 5%;
} 



/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}