<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 	http://www.springframework.org/schema/mvc
 	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.sagaranand.website.*" />

	<mvc:annotation-driven />

	<!-- The .properties file for parameters from outside -->
	<context:property-placeholder
		location="WEB-INF/properties/app.properties,WEB-INF/properties/database.properties" />
	<!-- <context:property-placeholder location="" /> -->

	<bean id="client" class="com.sagaranand.website.client.GenericClient"></bean>

	<bean id="clientController" class="com.sagaranand.website.controllers.ClientController"></bean>

	<bean id="mail" class="com.sagaranand.website.core.MailImpl">
		<property name="apiKey" value="${app.mail.apiKey}"></property>
		<property name="fromEmail" value="${app.mail.fromEmail}"></property>
		<property name="fromName" value="${app.mail.fromName}"></property>
	</bean>

	<bean id="mailUtilities" class="com.sagaranand.website.utilities.MailUtilities">
		<property name="contactReplySubject" value="${app.contact.contactReplySubject}"></property>
		<property name="contactReplyMessage" value="${app.contact.contactReplyMessage}"></property>
		<property name="contactAdminEmail" value="${app.contact.contactAdminEmail}"></property>
		<property name="contactAdminName" value="${app.contact.contactAdminName}"></property>
		<property name="contactAdminSubject" value="${app.contact.contactAdminSubject}"></property>
		<property name="contactAdminSalute" value="${app.contact.contactAdminSalute}"></property>
	</bean>

	<bean id="validator" class="com.sagaranand.website.validations.ValidatorImpl"></bean>

	<bean id="sanitizer" class="com.sagaranand.website.validations.SanitizerImpl"></bean>

	<bean id="dao" class="com.sagaranand.website.dao.DaoImpl"></bean>
	
	<bean id="daoService" class="com.sagaranand.website.services.DaoServiceImpl"></bean>

</beans>