<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/" security="none" />
	<http pattern="/home" security="none" />

	<http auto-config="true">
		<intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/login" username-parameter="txt-username"
			password-parameter="txt-password" authentication-failure-url="/login?valid=false"
			default-target-url="/admin" />

		<csrf />

		<access-denied-handler error-page="/login?access=false" />

		<logout invalidate-session="true" delete-cookies="JSESSIONID"
			logout-success-url="/login?logout=true" />

		<session-management invalid-session-url="/login?session=false"
			session-authentication-error-url="/login?session=false"
			session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="2"
				expired-url="/login?session=false" />
		</session-management>
		
	</http>

	<authentication-manager>
		<authentication-provider ref="loginAuthProvider">
		</authentication-provider>
	</authentication-manager>

	<b:bean id="loginAuthProvider" class="com.sagaranand.website.providers.LoginAuthProvider" />

</b:beans>